In [1]:
#importing necessary packages
import numpy as np
import pandas as pd

In [2]:
#read datasets
data = pd.read_csv('salary.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
#need to encode the dataset as data have object types 
#one hot encoding 
dataencoded = pd.get_dummies(data = data,columns = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country'])

In [7]:
dataencoded.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
dataencoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 109 entries, age to native-country_ Yugoslavia
dtypes: int64(6), object(1), uint8(102)
memory usage: 4.9+ MB

In [9]:
x = dataencoded.drop(['salary'],axis=1)
y = data.salary

In [10]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: salary, dtype: object

In [12]:
#splitting test and train data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state = 100)

# **Decision Tree**

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dectree = DecisionTreeClassifier()
dectree.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = dectree.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)

0.8148876059452156

# **Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rndforest = RandomForestClassifier(n_estimators = 100) 
rndforest.fit(x_train, y_train)
y_pred = rndforest.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)

0.8537034762314212

# **Bagging**

In [ ]:
#decision tree with bagging
from sklearn.ensemble import BaggingClassifier
tree = DecisionTreeClassifier()
bagging_tree_clf = BaggingClassifier(base_estimator=tree, n_estimators=100,random_state=42)

In [ ]:
bagging_tree_clf.fit(x_train,y_train)
y_pred = bagging_tree_clf.predict(x_test)
accuracy_score(y_test,y_pred)

0.85837120746837

In [ ]:
#Random forest with bagging
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(random_state=42, n_estimators = 100)
bagging_random_clf = BaggingClassifier(base_estimator=rf_clf, n_estimators=100,random_state=42)
bagging_random_clf.fit(x_train,y_train)
y_pred = bagging_random_clf.predict(x_test)
accuracy_score(y_test,y_pred)

0.8591082176636777

In [15]:
#svm without bagging
from sklearn.svm import SVC
svm = SVC()
svm.fit(x_train,y_train)
y_pred = svm.predict(x_test)
accuracy_score(y_pred,y_test)

0.7941284854440487

In [17]:
#SVM with bagging
from sklearn.ensemble import BaggingClassifier
bagging_svm_clf = BaggingClassifier(base_estimator=svm, n_estimators=100,random_state=42)
bagging_svm_clf.fit(x_train,y_train)
y_pred = bagging_svm_clf.predict(x_test)
accuracy_score(y_pred,y_test)

0.7942513204766

In [ ]:
#KNN without bagging
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_pred,y_test)

0.7845473529050485

In [ ]:
#KNN with bagging
bagging_clf = BaggingClassifier(base_estimator=knn, n_estimators=100,random_state=42)
bagging_clf.fit(x_train,y_train)
y_pred = bagging_clf.predict(x_test)

accuracy_score(y_test,y_pred)

0.7872497236211767

# **Boosting**

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
ada_boost_clf = AdaBoostClassifier(n_estimators=100)
ada_boost_clf.fit(x_train, y_train)
y_pred = ada_boost_clf.predict(x_test)
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.8672153298120624