**Team Members**

1.   Krishna T M
2.   Manu Davis
3.   Aparna N Kartha

In [40]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
#read dataset
drug = pd.read_csv('drug200.csv')

In [42]:
drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [43]:
#one hot encoding 
drug = pd.get_dummies(data = drug,columns = ['Sex','BP','Cholesterol'])

In [44]:
drug.head()

,Age,Na_to_K,Drug,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,DrugY,1,0,1,0,0,1,0
1,47,13.093,drugC,0,1,0,1,0,1,0
2,47,10.114,drugC,0,1,0,1,0,1,0
3,28,7.798,drugX,1,0,0,0,1,1,0
4,61,18.043,DrugY,1,0,0,1,0,1,0

In [45]:
#dropping drug column 
X = drug.drop(['Drug'], axis=1)

In [46]:
X.head()

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,25.355,1,0,1,0,0,1,0
1,47,13.093,0,1,0,1,0,1,0
2,47,10.114,0,1,0,1,0,1,0
3,28,7.798,1,0,0,0,1,1,0
4,61,18.043,1,0,0,1,0,1,0

In [47]:
#creating y column
y = drug['Drug']

In [48]:
y.head()

0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
Name: Drug, dtype: object

In [49]:
#Applying min max sclar for age and Na_to_K columns
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X[['Age','Na_to_K']] = sc.fit_transform(X[['Age','Na_to_K']])

In [50]:
X.head()

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,0.135593,0.596848,1,0,1,0,0,1,0
1,0.542373,0.213397,0,1,0,1,0,1,0
2,0.542373,0.120239,0,1,0,1,0,1,0
3,0.220339,0.047814,1,0,0,0,1,1,0
4,0.779661,0.368191,1,0,0,1,0,1,0

In [52]:
#splitting test and train data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state = 4)

# **Logistic Regression**

In [53]:
#creating regression model
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.linear_model import LogisticRegression
logisticmodel = LogisticRegression()

In [54]:
#fitting model
logisticmodel.fit(X_train,y_train)

LogisticRegression()

In [55]:
#predicting test data
y_pred = logisticmodel.predict(X_test)

In [56]:
y_pred

array(['DrugY', 'DrugY', 'DrugY', 'DrugY', 'drugC', 'drugX', 'DrugY',
       'DrugY', 'DrugY', 'drugA', 'drugA', 'drugX', 'drugA', 'DrugY',
       'DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'drugC', 'drugX',
       'drugC', 'drugA', 'DrugY', 'drugC', 'DrugY', 'drugX', 'DrugY',
       'drugX', 'DrugY', 'drugB', 'drugC', 'drugX', 'drugX', 'DrugY',
       'DrugY', 'drugA', 'DrugY', 'drugX', 'DrugY', 'DrugY', 'DrugY',
       'DrugY', 'drugC', 'DrugY', 'drugX', 'DrugY', 'drugX', 'DrugY',
       'DrugY'], dtype=object)

In [57]:
accuracy_score(y_test, y_pred)

0.88

# **KNN**

In [58]:
#importing knn 
from sklearn.neighbors import KNeighborsClassifier

In [60]:
#creating model with 4 n 
neigh = KNeighborsClassifier(n_neighbors=4)

In [61]:
#fitting model
neigh.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [63]:
#predicting test data
y_pred = neigh.predict(X_test)

In [64]:
accuracy_score(y_test, y_pred)

0.7

In [68]:
#predicting using values form 2 to 10 and finding max accuracy 
for i in range(2,11):
  neigh = KNeighborsClassifier(n_neighbors=i)
  neigh.fit(X_train,y_train)
  y_pred = neigh.predict(X_test)
  acc = accuracy_score(y_test, y_pred)
  print('for n_neighbors%2d accuracy is %f'%(i,acc))

for n_neighbors 2 accuracy is 0.740000
for n_neighbors 3 accuracy is 0.780000
for n_neighbors 4 accuracy is 0.700000
for n_neighbors 5 accuracy is 0.700000
for n_neighbors 6 accuracy is 0.620000
for n_neighbors 7 accuracy is 0.620000
for n_neighbors 8 accuracy is 0.600000
for n_neighbors 9 accuracy is 0.600000
for n_neighbors10 accuracy is 0.620000

maximum accuracy = 0.78 for n=3

# **SVM**

In [69]:
#creating svm model
from sklearn.svm import SVC
model1 = SVC(kernel='linear', C=1, gamma='auto')

In [70]:
#fit model
model1.fit(X_train,y_train)

SVC(C=1, gamma='auto', kernel='linear')

In [71]:
#predict model
y_pred = model1.predict(X_test)

In [72]:
accuracy_score(y_test, y_pred)

0.8